<div class="jumbotron">
  <h1>Task manager</h1>

  My tasks
  <div ng-controller="DisplayTaskCtrl">
    <table>
      <tr ng-repeat="task in tasks">
        <td>
          {{task.deadline}}
        </td>
        <td>
          {{task.category}}
        </td>
        <td>
          {{task.description}}
        </td>
      </tr>
    </table>
  </div>

  <div ng-controller="InsertTaskCtrl" />
    <form name="task" novalidate>
      Create new task <br />
      Deadline :  <input type="text" ng-model="task.deadline" name="deadline" required="" /> <br/>
      Category : <select name="category" /> <br/>
      Description :  <input type="text" ng-model="task.description" name="description" required="" /><br/>
      <input type="button" ng-click="save(task)" value="Save" />
    </form>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
